.back-cadastro {
    background-image: url("../../../public/imagens/tema-login.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}