/* CAMPO DE TEXTO */
.campo-texto {
    text-align: start;
}

.campo-texto label {
    margin-left: 5px;
    font-size: 22px;
    color: #FFF;
}

.campo-texto input {
    background-color: #FFF;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 20px;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    font-size: 17px;
    border-radius: 5px;
    outline: 0;
    margin: 8px 0 13px 0;
}
/* CAMPO DE TEXTO */