.background {
    box-sizing: border-box;
    background-color: #000;
    max-width: 500px;
    height: 100vh;
    padding: 50px;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.7);
}

/* TITULO */
.titulo {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 2px;
    margin-bottom: 40px;
}
/* TITULO */


/* BOTAO CADASTRO */
.link {
    color: rgb(216, 213, 213);
    margin-top: 20px;
    width: 120px;
}
.link:hover {
    cursor: pointer;
    color: #FFF;
    text-decoration: underline;
}
/* BOTAO CADASTRO */